<head>
<link rel="stylesheet" href="">
    <title>Borrowed Books</title>
    </head>

    <body>

            <div class="container-fluid">
                <div class="row">
                        <div class="">
                            <p>Books Available</p>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Genre</th>
                                        <th scope="col">Title</th>
                                        <th scope="col">Author</th>
                                        <th scope="col">Issued Date</th>
                                        <th scope="col">Days left until invalid</th>
                                        <th scope="col">Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for(var i=0; i< res.length; i++){ %>
                                        <tr>
                                            <th scope="row">
                                                <%=res[i].id%>
                                            </th>
                                            <td>
                                                <%=res[i].genre%>
                                            </td>
                                            <td>
                                                <%=res[i].title%>
                                            </td>
                                            <td>
                                                <%=res[i].author%>
                                            </td>
                                            <td>
                                                <%=res[i].createdAt%>
                                            </td>
                                            <td>
                                                <%=res[i].updatedAt%>
                                            </td>
                                            <td>
                                                <%
                                                    var date1 = new Date(res[i].updatedAt);
                                                    var date2 = new Date();
                                                    var timeDiff = Math.abs(date2.getTime() - date1.getTime());
                                                    var diffDays = Math.ceil(timeDiff / (1000 * 3600 * 24));
                                                    var leftValid = 30 - diffDays;
                                                %>
                                                <%=leftValid+" Days"%>
                                            </td>
                                            <td>
                                                <% if(leftValid >= 1) { %>
                                                    Valid
                                                <% } else { %>
                                                    Invalid
                                                <% } %>
                                            </td>
                                        </tr>
                                        <% } %>
                                </tbody>
                            </table>
                        </div>
                </div>
            </div>